@import 'tailwindcss';

body {
  margin: 0; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  background-color: #242424; 
  color: rgba(255, 255, 255, 0.87); 
  min-height: 100vh; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-color-scheme: light) {
  body { 
    background-color: #ffffff;
    color: #213547;
  }
}

